// Unattended-Upgrade::Origins-Pattern controls which packages are upgraded.
Unattended-Upgrade::Origins-Pattern {
{% for origin in unattended_upgrade_origins %}
        "{{ origin }}";
{% endfor %}
};

// Sets up logging
// Automatic reboot settings
Unattended-Upgrade::Automatic-Reboot "{{ unattended_auto_reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_auto_reboot_time }}";
